version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: python_boilerplate_app
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    environment:
      ENV: development
