name: Auto Merge

on:
    pull_request:

permissions:
    pull-requests: write
    contents: write

jobs:
    automerge:
        runs-on: ubuntu-latest
        if: github.actor == 'github-actions'
        steps:
            - uses: fastify/github-action-merge-dependabot@v3
              with:
                  merge-method: squash
