name: CI

on:
    push:
    pull_request:

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Set up Python
              uses: actions/setup-python@v6
              with:
                  python-version: "3.12"

            - name: Install UV
              run: pip install uv

            - name: Install dependencies
              run: uv sync

            - name: Lint
              run: uv run ruff check .

            - name: Type check
              run: uv run mypy src

            - name: Test
              run: uv run pytest --cov=python_boilerplate --maxfail=1
