name: Release

on:
    push:
        branches: ["main"]

jobs:
    release:
        runs-on: ubuntu-latest
        permissions:
            contents: write
            pull-requests: write

        steps:
            - uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            - uses: actions/setup-python@v5
              with:
                  python-version: "3.12"

            - run: pip install python-semantic-release

            - name: Publish release
              env:
                  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: semantic-release publish
